* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  padding: 0px;
  font: sans-serif;
  color: rgb(48, 43, 43);

  background-color: aliceblue;
}
header {
  margin: 10px;
  padding: 10px;
  background-color: #cbcbdb;
  border-bottom: solid 2px;

  /*background: linear-gradient(
    to bottom,
    #bcc0c5,
    #8887c8
  ); /* Gradient colors */
}
h3 {
  text-align: center;
}
.kuva {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 20px;
  width: 90%;
  background-color: #9090b7;
}
main {
  margin: 20px;
  padding: 20px;
}
#esi {
  width: 90%;
  background-color: #ebebf6;
  margin: 20px;
}
.harrastus {
  margin: 10px;
  padding: 0;
  width: 90%;
  background-color: #aaaac5;
}
/* .scroll-line {
  position: fixed;
  top: 0;
  right: 0;
  width: 16px;
  height: 0;
  background: rgb(94, 89, 136); Цвет в твоём стиле 
  z-index: 9999;
  transition: height 0.2s ease-out;
  border-radius: 3px;
} */
footer {
  margin: 12px;
  padding: 10px;
  justify-content: center;

  background-color: #cbcbdb;
  width: 90%;
}
.formSubmit {
  max-width: 400px;
  margin: auto;
  font-size: 0.7rem;
  justify-content: center;
}

.formSubmit label {
  margin: 10px;
  width: 100px;
}
input,
textarea {
  width: 90%;
  box-sizing: border-box;
  margin: 10px;
  padding: 15px;
}

ul li {
  margin-left: 30px;
  padding: 3px;
}
.text {
  font-size: 18px;
}
.otsikko {
  font-weight: bold;
  margin-left: 20px;
}

img {
  width: 100px;
  height: auto;
  margin: 20px;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
.linkit {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(94, 89, 136);
}

.oma_class:hover {
  color: aqua;
}
.btn {
  background-color: rgb(94, 89, 136);
  cursor: pointer;
  border-radius: 20px;
  font-family: inherit;
  /* text-align: center; */
  padding: 10px 20px;
  display: block;
  width: 70%;
  margin: 10px auto; /* <-- Центрирование по горизонтали */
}
#scrollTopBtn {
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  background-color: #5e5988;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;

  padding: 10px 0;

  transition: background-color 0.3s ease;
}

#scrollTopBtn:hover {
  background-color: #3c3960;
}
footer .copyright {
  text-align: center;
  font-size: 0.8rem;
  color: #444;
  margin-top: 20px;
}
html {
  scroll-behavior: smooth;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #cbcbdb; /* Цвет фона полосы */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(94, 89, 136); /* Цвет "ползунка" */
  border-radius: 20px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(94, 89, 136) #cbcbdb;
}

/*for dark theme*/
body.dark-theme {
  background-color: #222;
  color: #f1f1f1;
}
body.dark-theme header {
  background-color: #333;
}
body.dark-theme .kuva {
  background-color: #444;
}
body.dark-theme #esi,
body.dark-theme .harrastus,
body.dark-theme footer {
  background-color: #555;
}
body.dark-theme a,
body.dark-theme .oma_class {
  color: #ddd;
}
body.dark-theme footer .copyright {
  color: #bbb;
}
