* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  padding: 0px;
  font: sans-serif;
  color: rgb(48, 43, 43);

  background-color: aliceblue;
}
header {
  margin: 10px;
  padding: 10px;
  background-color: #cbcbdb;
  border-bottom: solid 2px;

  /*background: linear-gradient(
    to bottom,
    #bcc0c5,
    #8887c8
  ); /* Gradient colors */
}
.kuva {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 20px;
  width: 90%;
  background-color: #9090b7;
}
main {
  margin: 20px;
  padding: 20px;
}
#esi {
  width: 90%;
  background-color: #ebebf6;
  margin: 20px;
}
.harrastus {
  margin: 10px;
  padding: 0;
  width: 90%;
  background-color: #aaaac5;
}

footer {
  margin: 12px;
  padding: 10px;

  background-color: #cbcbdb;
  width: 90%;
}
.formSubmit {
  max-width: 400px;
  margin: auto;
  font-size: 0.7rem;
  justify-content: center;
}

.formSubmit label {
  margin: 10px;
  width: 100px;
}
input,
textarea {
  width: 90%;
  box-sizing: border-box;
  margin: 10px;
  padding: 15px;
}

ul li {
  margin-left: 30px;
  padding: 3px;
}
.text {
  font-size: 18px;
}
.otsikko {
  font-weight: bold;
  margin-left: 20px;
}

img {
  width: 100px;
  height: auto;
  margin: 20px;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
.linkit {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(94, 89, 136);
}

.oma_class:hover {
  color: aqua;
}
button {
  background-color: rgb(94, 89, 136);
  cursor: pointer;
  border-radius: 20px;
  font-family: inherit;
  /* text-align: center; */
  padding: 10px 20px;
  display: block;
  width: 70%;
  margin: 10px;
}
