@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Manrope", sans-serif;
  background: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 0;
}

main {
  background-color: white;
  width: 550px;
  display: flex;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.textBox {
  flex: 2;
  padding: 20px;
}
h1 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 10px;
  color: hsl(217, 19%, 35%);
}
h2 {
  font-size: 0.8rem;
  color: hsl(217, 19%, 35%);
}
p {
  color: hsl(214, 17%, 51%);
  font-size: 0.8rem;
}
main > div:first-child {
  flex: 1;
}

.name {
  font-size: 1rem;
  display: flex;
  align-content: center;
  gap: 20px;
  padding-top: 10px;
}
.name_inside {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.first {
  flex: 5;
  display: flex;
  align-items: center;
  gap: 10px;
}
.share {
  flex: 1;
  /* cursor: pointer; */
  width: 36px;
  height: 36px;
  background: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawers {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.avatar {
  height: 1lh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.share-wrapper {
  position: relative;
  display: inline-block;
}
.popup-bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: 0;
  background: #48556a;
}

.popup-menu > * {
  position: relative;
  z-index: 99;
}
/* .popup-menu {
  position: absolute;
  top: -170%;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 20px 30px;
  background:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M0 352L0 128C0 75 43 32 96 32l320 0c53 0 96 43 96 96l0 224c0 53-43 96-96 96l-120 0c-5.2 0-10.2 1.7-14.4 4.8L166.4 539.2c-4.2 3.1-9.2 4.8-14.4 4.8-13.3 0-24-10.7-24-24l0-72-32 0c-53 0-96-43-96-96z"/></svg>')
    no-repeat center center / cover;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
} */

.popup-menu {
  font-family: inherit;
  position: absolute;
  top: -170%;
  left: -150%;
  background: #48556a;
  border-radius: 8px;
  padding: 10px;
  display: none;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  flex-direction: row;
}

.popup-link {
  transform: scale(0.8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* color: aliceblue;
  background: #6e8098; */

  text-decoration: none;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    width: 90%;
    max-width: 375px;
    border-radius: 10px;
  }

  .drawers {
    height: 200px;
  }

  .textBox {
    padding: 16px;
  }

  h1 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .name {
    flex-direction: row;
    justify-content: space-between;
  }
  .first {
    flex: 3;
  }
}
